html {
    background: #efefef;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff
}

nav {
    background-color: #ffd8de;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    margin: 0;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    font-weight: 100;
    padding: 10px;
}


header {
    display: flex; 
    align-items: right center; 
    justify-content: center;
}

h3 {
    margin: 0;
    font-weight: 100;
}

article {
    background: #efefef;
    margin: 20px;
    padding: 20px;
}


p {
    line-height: 1.4em;
}

.imgbox {
    background:#fff;
    width: 300px;
}

img {
    width: 100%;
}
.look {
    align-items: center;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

article .title {
    background-color: #222;
}

.right {
    box-align: right;
}

.floatleft {
    float: left;
}
.smallvrt {
    max-width: 100px;
    max-height: 200px;
    padding: 10px;
}
.small {
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

.sticky {
    position: sticky;
    top: 0;
}

.navbar {
    align-content: end;
}

#sector {
    display: flex;
}

.aspect:nth-of-type(1) {
    flex: 2;
}

.aspect:nth-of-type(2) {
    flex: 1;
}

.aspect:nth-of-type(3) {
    flex: 2;
}

.aspect:nth-of-type(4) {
    flex: 1;
}